@use "./../1-global" as g;

.navbar {

    padding-left: g.$standardPaddingX;
    padding-right: g.$standardPaddingX;
    padding-top: g.$standardPaddingY;
    padding-bottom: g.$standardPaddingY;
    background-color: g.$etonBlueGreen;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.app-name {
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.1875rem;
}