@use "./../1-global" as g;

.table {

    padding-left: g.$standardPaddingX;
    padding-right: g.$standardPaddingX;
    padding-top: g.$standardPaddingY;
    padding-bottom: g.$standardPaddingY;
    
    border-radius: g.$cornerRadiusStandard;
    width: 90%;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__moore {
        
        
        background-color: g.$bone;
        margin-top: 10px;
        
        &__head {
            font-size: large;
            font-weight: bold;
            stroke: g.$lightGray;
            stroke-width: 100px;
            padding: 30px;
        }
    }
}
