@use "./../1-global" as g;

.tableWrapper{
    display: flex;
    justify-content: center;
    
}

.tableMoore{
    padding-left: g.$standardPaddingX;
    padding-right: g.$standardPaddingX;
    padding-top: g.$standardPaddingY;
    padding-bottom: g.$standardPaddingY;
    
    border-radius: g.$cornerRadiusStandard;


    background-color: g.$bone;
    margin-top: 10px;
    
}

.tableMooreHead{
    font-size: large;
    font-weight: bold;
    stroke: g.$lightGray;
    stroke-width: 100px;
    padding: 30px;
}



