// Dimensions

$cornerRadiusStandard: 0.3125rem;
$standardPaddingX: 4rem;
$standardPaddingY: 1rem;
$standardPadding: 2rem;

// Colors

$bone: #DDD8C4;
$etonBlueGreen: #A3C9A8;
$greenShen: #84B59F;
$polishedPine: #69A297;
$tealBlue: #50808E;
$white: #FFFFFF;
$black: #202020;
$gray: #929292;
$lightGray: #F0F0F0;